* {
  /* font-family: serif, cmu serif; */
  font-family: CMU Serif Roman;
  padding: 0;
  margin: 0;

}
.App {
  text-align: center;
  margin: 20px;
}

.chat-box {
  border: 1px solid #ccc;
  padding: 10px;
  max-height: 400px;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.message {
  margin: 5px 0;
}

.message.bot {
  color: blue;
}

.message.user {
  color: green;
}

.input-box {
  display: flex;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  min-width: 400px;

}

button {
  padding: 10px 20px;
  font-size: 16px;
}


.res-body {
  background-color: #f2f2f2;
  padding: 50px;
  text-align: justify;
}